.eslintcache
.cache
scalastyle-output.xml
.classpath
.java-version
.idea/*
.vscode
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
.mvn/wrapper/*.jar
.mvn/maven.config
target
target/*
tmp
*.iml
*.swp
*.zip
*.log
*.pyc
.DS_Store
build-target
out/
*.ipr
*.iws
src/test/resources/binary/*
src/test/java/com/huawei/unt/TranslatorTest.java